@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
.description,
.link {
  margin-top:10%;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-weight: BOLD;
 
}

.description {
  font-size: 5rem;
}
